* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(58, 58, 116);
  background: rgb(94, 94, 185);
}

.main {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(40, 37, 37, 0.5);
}

.image img {
  height: 60vh;
  width: 50vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 50vh;
  padding: 5vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: whitesmoke;
}

h2 {
  text-align: center;
  font-size: 5vh;
  color: rgb(58, 58, 116);
}

.input-field {
  margin: 1.5vh 0;
  position: relative;
}

.input-field input {
  border: 0;
  border-bottom: 2px solid rgb(58, 58, 116);
  width: 100%;
  margin: 0.6vh 0;
  padding: 0.7vh;
  font-size: 2vh;
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  right: 5%;
}

.icon2 {
  position: absolute;
  top: 30%;
  right: 5%;
}

.icon3 {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 3vh;
  font-weight: bold;
  padding: 0 0.5vh;
  border-radius: 50%;
  color: white;
  background-color: rgb(58, 58, 116);
}

.icon3 a:hover {
  cursor: pointer;
}

.input-field label {
  font-size: 2.5vh;
}

.check-box {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}

.login-register-option {
  display: flex;
  margin: 1vh 0;
  font-size: 2vh;
}

.login-register-option a {
  margin-left: 1vh;
}

a {
  font-weight: bold;
  color: darkblue;
}

a:hover {
  color: blue;
}

button {
  padding: 1vh;
  width: 100%;
  margin: 1vh 0;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  background-color: rgb(58, 58, 116);
  border-radius: 5px;
  border: 1px solid rgb(58, 58, 116);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .image img {
    display: none;
  }

  .main-container {
    border-radius: 10px;
  }
}
